.container {
    height: 100px;
    background-color: black;
}

p {
    font: 500 50px/80px Roboto, "Helvetica Neue", sans-serif;
    color: white;
    margin-left: 30px;
}

mat-icon {
    color: white;
    font-size: 30px;
}

.icon-menu {
    margin-right: 30px;
}