<div class="container">
  <app-header></app-header>

  <h1>Ways to make the page responsive</h1>

  <mat-card class="mat-elevation-z8">
    <div>
      <h2>Component.ts</h2>
      <p>Width Page = {{ getScreenWidth }}</p>
    </div>
  </mat-card>

  <mat-card class="mat-elevation-z8">
    <div>
      <h2 class="scss">Component.scss</h2>
      <mat-icon class="icon-green">circle</mat-icon> Desktop
      <mat-icon class="icon-blue">circle</mat-icon> Tablet
      <mat-icon class="icon-red">circle</mat-icon> Smartphone
    </div>
  </mat-card>

  <mat-card class="mat-elevation-z8">
    <div fxFlex="100" fxLayout="column">
      <h2>Component.html</h2>
      <div
        fxFlex="100"
        fxLayout="row"
        fxLayout.sm="column"
        fxLayout.xs="column"
        fxLayoutGap="10px"
        fxLayoutGap.sm="10px"
        fxLayoutGap.xs="10px"
      >
        <div
          fxFlex="50"
          fxLayout="row"
          fxLayout.xs="column"
          fxLayoutGap="10px"
          fxLayoutGap.xs="10px"
        >
          <app-input fxFlex="50" fxFlex.xs="100"></app-input>
          <app-input fxFlex="50" fxFlex.xs="100"></app-input>
        </div>
        <div
          fxFlex="50"
          fxLayout="row"
          fxLayout.xs="column"
          fxLayoutGap="10px"
          fxLayoutGap.xs="10px"
        >
          <app-input fxFlex="50" fxFlex.xs="100"></app-input>
          <app-input fxFlex="50" fxFlex.xs="100"></app-input>
        </div>
      </div>
    </div>
  </mat-card>
</div>
