mat-card {
  margin: 10px 10px;
}

.scss {
  color: green;
}

// Tablet
@media only screen and (min-width: 599px) and (max-width: 1279px) {
  .scss {
    color: blue;
  }
}

// Smartphone
@media only screen and (max-width: 599px) {
  .scss {
    color: red;
  }
}

.icon-green {
  color: green;
}

.icon-blue {
  color: blue;
}

.icon-red {
  color: red;
}
