<div class="container" fxLayout="column">
  <app-header></app-header>
  <div class="page">
    <div
      fxFlex="100"
      fxLayout="row"
      fxLayout.md="column"
      fxLayout.sm="column"
      fxLayout.xs="column"
      fxLayoutGap="10px"
      fxLayoutGap.md="0px"
      fxLayoutGap.sm="0px"
      fxLayoutGap.xs="0px"
    >
      <div
        fxFlex="40"
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutGap="10px"
        fxLayoutGap.xs="0px"
      >
        <app-input titulo="Input" fxFlex="50" fxFlex.xs="100"></app-input>
        <app-input titulo="Input" fxFlex="50" fxFlex.xs="100"></app-input>
      </div>
      <div
        fxFlex="40"
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutGap="10px"
        fxLayoutGap.xs="0px"
      >
        <app-input titulo="Input" fxFlex="50" fxFlex.xs="100"></app-input>
        <app-input titulo="Input" fxFlex="50" fxFlex.xs="100"></app-input>
      </div>
      <app-input titulo="Input" fxFlex="20"></app-input>
    </div>
  </div>

  <table
    mat-table
    [dataSource]="dataSource"
    fxFlex="100"
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="coluna1">
      <th mat-header-cell cdkDrag *matHeaderCellDef>Coluna 1</th>
      <td mat-cell *matCellDef="let element">{{ element.coluna1 }}</td>
    </ng-container>

    <ng-container matColumnDef="coluna2">
      <th
        mat-header-cell
        cdkDrag
        *matHeaderCellDef
        [style.display]="getScreenWidth < 599 ? 'none' : ''"
      >
        Coluna 2
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        [style.display]="getScreenWidth < 599 ? 'none' : ''"
      >
        {{ element.coluna2 }}
      </td>
    </ng-container>

    <ng-container matColumnDef="coluna3">
      <th
        mat-header-cell
        cdkDrag
        *matHeaderCellDef
        [style.display]="getScreenWidth < 960 ? 'none' : ''"
      >
        Coluna 3
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        [style.display]="getScreenWidth < 960 ? 'none' : ''"
      >
        {{ element.coluna3 }}
      </td>
    </ng-container>

    <ng-container matColumnDef="coluna4">
      <th
        mat-header-cell
        cdkDrag
        *matHeaderCellDef
        [style.display]="getScreenWidth < 960 ? 'none' : ''"
      >
        Coluna 4
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        [style.display]="getScreenWidth < 960 ? 'none' : ''"
      >
        {{ element.coluna4 }}
      </td>
    </ng-container>

    <ng-container matColumnDef="coluna5">
      <th mat-header-cell cdkDrag *matHeaderCellDef>Coluna 5</th>
      <td mat-cell *matCellDef="let element">{{ element.coluna5 }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </table>
</div>
